.env

# No need to copy these
venv/
__pycache__/
*.pyc
.git/
.gitignore
*.md
.DS_Store

# Not needed inside container
frontend/
k8s/

alembic/
tests/
docs/

*.log
*.sqlite
*.db

.git
.gitignore

.vscode
.idea

backend/eval/